.quote_card{
    border: 1px solid black;
}
.header{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}
.search{
    padding: 10px;
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;

}
#search{
    align-self: center;
    margin: 20px;
}
.checkFav{
    margin: 35px;
    margin-top: 50px;
}
.checkFav:hover{
    color: rgb(130, 130, 130);
    cursor: pointer;
}
.searchBtn{
    border: none;
    padding: 5px 10px;
    height: fit-content;
    align-self: center;
    box-sizing: border-box;
    background-color: aliceblue;
    cursor: pointer;
}
.cardsContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin: auto;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
   
    justify-content: center;
    align-items: center;
}
.quote_card{
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    height: fit-content;
    
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
}
#favBtn{
    border: none;
    cursor: pointer;
}
.noData{
   display: flex;
   width: 100%;
   margin: auto;
   justify-content: center;
   font-size: xx-large;
   margin-top: 20px;
}
@media screen and (max-width: 768px) {
    .cardsContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}
